/* CSS Document */
body,ul,li{
	margin:0;
	padding:0;
}
body{
	background:#7D9353;
	font-family:"Trebuchet MS",sans-serif;
	font-size:10px;
}
a{
	color:#0033CC;
	font-size:12px;
}
input,textarea{
	font-family:"Trebuchet MS",sans-serif;
}
input.button{
	clear:both;
	border:0;
	background:url("/Sislodim/images/bg-button.gif") repeat-x;
	height:35px;
	color:#fff;
	font-weight:bold;
}

.mensagens{
list-style: none;
font-weight: bold;
color:red;
font-size:11px;
margin-left:5px;
}


.informacao
{
  background: #def  no-repeat 10px 3px;
  border: 1px solid #9cf;
  font-size:14px;
  height:25px;
  text-align: center;
}

.erro
{
  background: #ffefef no-repeat 10px 3px;
  border: 1px solid red;
  font-size:14px;
  height:25px;
  color: red;
  text-align: center;
}

#geral{
	width:770px;
	min-height:500px;
	height:auto;
	margin:0 auto;
	background:#fff;
}
#geral #info span{
	float:right;
	margin-right:10px;
}
#geral #menu{
	float:left;
	margin-right:15px;
}
#geral #menu ul{
	list-style:none;
	margin:15px 0 0 15px;
}
#geral #menu ul li{
	background:url("/Sislodim/images/bg_menu.gif") 0 0 no-repeat;
	width:123px;
	height:34px;
	line-height:34px;
	margin-bottom:10px;
	font-size:11px;
}
#geral #menu ul li:hover{
	background:url("/Sislodim/images/bg_menu-over.gif") 0 0 no-repeat;
}
#geral #menu ul li a{
	color:#999999;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	display:block;
}
#geral #menu ul li img{
	float:left;
	margin-right:5px;
}
#geral #conteudo div.auth h1{
	font-size:20px;
	text-align:center;
}
#geral #conteudo div.auth fieldset{	
	width:350px;
	margin:0 auto;
}
#geral #conteudo div.auth label{	
	float:left;
	clear:left;
	width: 100px;
	margin-bottom:20px;
}
#geral #conteudo div.auth input{
	margin-bottom:20px;	
}
#geral #conteudo div.auth input.button{
	float:left;
}
#geral #conteudo div.form {
	margin-top: 15px;
}
#geral #conteudo div.form label{
	font-size:11px;
	font-weight:bold;
	clear:both;
	float:left;
	width:100px;
}
#geral #conteudo div.form input{
	float:left;
	margin-bottom:10px;
	font-size:11px;
	border:2px solid #999999;
}
#geral #conteudo div.form fieldset{
	float:left;
	width:500px;
	margin:20px auto;
	font-size:11px;
}
#geral #rodape{
	clear:both;
	padding:10px;
	text-align:right;
}
