<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Sislodim</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.xhtml</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.DEVELOPMENT</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>com.sun.faces.validateXml</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>com.sun.faces.verifyObjects</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>
    <param-value>com.sun.facelets.FaceletViewHandler</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.SKIN</param-name>
    <param-value>wine</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.CONTROL_SKINNING</param-name>
    <param-value>enable</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>
  <filter>
    <display-name>RichFaces Filter</display-name>
    <filter-name>richfaces</filter-name>
    <filter-class>org.ajax4jsf.Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>richfaces</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.st</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Setup</display-name>
    <servlet-name>Setup</servlet-name>
    <servlet-class>br.faculdadeidez.psa.instalacao.Setup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Setup</servlet-name>
    <url-pattern>/Setup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MIDServlet</display-name>
    <servlet-name>MIDServlet</servlet-name>
    <servlet-class>br.faculdadeidez.psa.apresentacao.servlets.MIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MIDServlet</servlet-name>
    <url-pattern>/MIDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComparacaoDistancia</display-name>
    <servlet-name>ComparacaoDistancia</servlet-name>
    <servlet-class>br.faculdadeidez.psa.apresentacao.servlets.ComparacaoDistancia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComparacaoDistancia</servlet-name>
    <url-pattern>/ComparacaoDistancia</url-pattern>
  </servlet-mapping>
</web-app>